body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1DB954;
    padding: 20px;
    text-align: center;
}

.btn-spotify {
    color: white;
    text-decoration: none;
    background-color: #1DB954;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-spotify:hover {
    background-color: #1ed760;
}

main {
    padding: 20px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

#music-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-item {
    background-color: #282828;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.music-item:hover {
    background-color: #404040;
}

audio {
    margin-top: 20px;
    width: 100%;
}
